<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="/css/page.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">

    <script defer src="/fontawesome/js/all.js"></script>

    <title>Support Animal</title>

</head>

<body>
<% include ./header %>

<!-- Insert Body BELOW Here !-->
<div class="container pb-4 mt-5">
    <% include ./page-header %>

    <div class="row">

        <div class="col-8" style="padding-left: 29px;">
            <div class="card mb-4 bg-light">
                <h4 class="my-3 mx-auto"><i class="fas fa-gift fa-fw mr-2"></i>Required products for animal</h4>
            </div>

            <% if (products.length < 1) { %>
                <div class="card gedf-card" style="margin-bottom: 40px;">
                    <div class="card-body">
                        <h5 class="p-3">We don't need any products &nbsp;:)</h5>
                    </div>
                </div>
            <% } %>

            <div class="row">
                <% for (let product of products) { %>
                    <div class="col-6 mb-5">
                        <div class="card h-100">
                            <% if (session.user && isAdmin) { %>
                                <form method="POST" action="/page/delete-required-product/<%= page.id %>?next=/page/donate/<%= page.id %>">
                                    <input type="hidden" name="product_id" value="<%= product.id %>">
                                    <button class="btn btn-sm btn-danger" type="submit" style="position: absolute; top: 0; right: 0;"><i class="fas fa-times"></i></button>
                                </form>
                            <% } %>
                            <% if (product.url === null) { %>
                                <img alt="" class="card-img-top" src="/media/no-image.jpg" style="height: 40%;">
                            <% } else { %>
                                <img alt="" class="card-img-top" src="<%= product.url %>" style="height: 40%;">
                            <% } %>
                            <div class="card-body">
                                <h5 class="card-title text-primary font-weight-bold"><%= product.name %></h5>
                                <h6 class="card-subtitle d-inline">(<%= commaNumber(product.cost) %>pts)</h6>
                                <h6 class="card-subtitle d-inline h7 mb-2 text-muted"><%= product.description %></h6>
                                <h5 class="card-text d-table mx-auto mt-4" style="word-break: break-all;">We need <%= product.product_count %> items.</h5>
                            </div>
                            <div class="card-footer" style="text-align: center">
                                <form method="POST" action="/page/donate-product/<%= page.id %>?next=/page/donate/<%= page.id %>">
                                    <input type="hidden" name="product_id" value="<%= product.id %>">
                                    <div class="input-group">
                                        <input type="number" name="product_count" class="form-control" placeholder="Enter number of items" aria-describedby="button-addon-<%= product.id %>" min="1" max="<%= product.product_count %>" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-sm" type="submit" id="button-addon-<%= product.id %>">Donate</button>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <input type="text" name="message" class="form-control" placeholder="Enter donate message (Optional)" maxlength="100">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <!-- /.row -->
        </div>

        <div class="col-4" style="padding-right: 29px;">
                
            <% if (session.user && isAdmin) { %>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title text-primary font-weight-bold"><i class="fas fa-plus fa-fw mr-2"></i>Add required products</h5>
                    </div>
                    <form class="mx-3" method="POST" action="/page/add-required-product/<%= page.id %>?next=/page/donate/<%= page.id %>">          
                        <label for="product" class="control-label" style="padding: 0;">Product <span class="text-danger">*</span></label>
                        <select class="form-control" id="product" name="product_id" size="1">
                            <% for (let product of all_products) { %>
                                <option value="<%= product.id %>"><%= product.name %></option>
                            <% } %>
                        </select>
                        <small class="form-text text-muted">Select the kind of required products</small>
                        <div class="input-group my-4">
                            <input type="number" name="product_count" class="form-control" placeholder="Enter number of items" aria-describedby="button-addreq" min="1" required>
                            <div class="input-group-append">
                                <button class="btn btn-success btn-sm" type="submit" id="button-addreq">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            <% } %>

            <!-- Money Donation -->
            <% if (!session.user || !isAdmin) { %>
                <div class="card gedf-card mb-4">
                    <div class="card-body">
                        <h4 class="card-title text-middle"><i class="fas fa-won-sign mr-2"></i>Cash Donation</h4>
                        <h6 class="card-subtitle h7 mb-4 text-muted">Cash is also welcome!</h6>
                        <form method="POST" action="/page/donate-money/<%= page.id %>?next=/page/donate/<%= page.id %>">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-coins"></i></span>
                                </div>
                                <input type="number" name="cost" class="form-control" placeholder="Amount of points" aria-describedby="button-addon-0" min="1" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm" type="submit" id="button-addon-0">Donate</button>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input type="text" name="message" class="form-control" placeholder="Enter donate message (Optional)" maxlength="100">
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>
                
            <% if (session.user && isAdmin) { %>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title text-primary font-weight-bold"><i class="fas fa-plus fa-fw mr-2"></i>Add supporter class</h5>
                    </div>
                    <form class="mx-3" method="POST" action="/page/add-class/<%= page.id %>?next=/page/donate/<%= page.id %>">
                        <div class="form-group">
                            <label for="cname" class="control-label" style="padding: 0;">Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="cname" name="name" maxlength="100" placeholder="Enter class name" required>
                        </div>
                        <div class="form-group">
                            <label for="cost" class="control-label" style="padding: 0;">Needed Points <span class="text-danger">*</span></label>
                            <input class="form-control" type="number" id="cost" name="cost" min="1" placeholder="Enter minimum point to be this class" required>
                        </div>
                        <div class="form-group">
                            <label for="reward" class="control-label" style="padding: 0;">Class Rewards <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="reward" name="reward" maxlength="100" placeholder="Describe the rewards.." required>
                            <small class="form-text text-muted">You have to give this reward to supporters.</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary w-100" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            <% } %>

            <!-- Donation Class List Column -->
            <div class="toDonate card gedf-card">
                <div class="card-body">
                    <h4 class="card-title text-middle"><i class="fas fa-donate mr-2"></i>Supporter Level</h4>
                    <h6 class="card-subtitle h7 mb-2 text-muted">We need your help!</h6>
                    <h6 class="card-subtitle h7 mb-4 text-muted">Support us and get rewards.</h6>

                    <p class="card-text mb-0" style="font-size: 16px;"> Your Level:
                        <% if (session.user && isAdmin) { %>
                            <strong class="text-danger" id="yourRank">Owner (Lv.MAX)</strong>
                        <% } else if (my_class_level) { %>
                            <strong class="text-danger" id="yourRank"><%= donate_classes[my_class_level - 1].class_name %> (Lv.<%= my_class_level %>)</strong>
                        <% } else { %>
                            <strong class="text-danger" id="yourRank">Guest (Lv.0)</strong>
                        <% } %>
                    </p>
                    <p class="card-text mb-3" style="font-size: 16px;"> My Support:
                        <strong id="yourRank"><%= commaNumber(total_donate_from_me || 0) %>pts</strong>
                    </p>

                    <hr>

                    <h5>Lv.0. Guest</h5>
                    <ul>
                        <li>View public diarys</li>
                    </ul>
                    <% if (donate_classes.length > 0) { %>
                        <% let rewards = []; let lv = 0; %>
                        <% for (let cls of donate_classes) { %>
                            <hr>
                            <% lv++; %>
                            <% rewards.push(cls.reward_description); %>

                            <h5 class="d-inline-block">Lv.<%= lv %>. <%= cls.class_name %></h5>
                            
                            <% if (session.user && isAdmin) { %>
                                <form class="d-inline ml-2" method="POST" action="/page/delete-class/<%= page.id %>?next=/page/donate/<%= page.id %>" style="display: inline-block;">
                                    <input type="hidden" name="class_id" value="<%= cls.id %>">
                                    <button class="btn btn-link text-danger px-0" type="submit" style="vertical-align: baseline;"><i class="fas fa-times"></i></button>
                                </form>
                            <% } %>

                            <h6 class="card-subtitle h7 mb-2 text-muted">(<%= commaNumber(cls.cost) %>pts ~)</h6>


                            <ul>
                            <li>View Lv.<%= lv %> diarys</li>
                            <% for (let reward of rewards) { %>
                                <li><%= reward %></li>
                            <% } %>
                            </ul>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
</body>
</html>
