<% if (typeof session.message != "undefined" && session.message) { %>
    <script>
        alert("<%= session.message %>");
    </script>
    <% session.message = null; %>
<% } %>

<nav class="navbar navbar-expand-md navbar-dark fixed-top p-3" style="background-color: rgb(36,41,46);">
    <div class="container" style="max-width: 100%;">
        <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#mainMenu" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">

            <ul class="navbar-nav mr-5 text-capitalize">
                <li class="nav-item active">
                    <a class="navbar-brand font-weight-bold" href="/">Animals-Online</a>
                </li>
            </ul>
            <form method="GET" action="/search" class="form-inline mr-auto my-lg-0">
                <div class="input-group">
                    <input style="width: 200px;" aria-label="Search" class="form-control" id="search"
                            placeholder="Search" name="keyword" type="text">
                    <div class="input-group-append">
                        <button class="btn btn-secondary my-sm-0" type="submit">검색</button>
                    </div>
                </div>
            </form>

            <% if (typeof session.user !== "undefined" &&  session.user) { %>
                <span style="color: white; margin-right: 10px;">
                    <%= session.user.nickname %>
                    (point : <%= session.user.point %>)
                </span>

                <% if (session.user.my_page_id) { %>
                    <a class="btn btn-sm btn-outline-light ml-2" href="/page/<%= session.user.my_page_id %>">My Animal</a>
                    <a class="btn btn-sm btn-outline-light ml-2" href="/page/post/<%= session.user.my_page_id %>">Write Diary</a>
                <% } else { %>
                    <a class="btn btn-sm btn-outline-light ml-2" href="/create-page">Create Home</a>
                <% } %>
                <a class="btn btn-sm btn-outline-light ml-2" href="/point">Buy Point</a>
                <a class="btn btn-sm btn-outline-light ml-2" href="/logout?next=/">Log out</a>
            <% } else { %>
                <a class="btn btn-outline-light ml-2 mr-md-2" href="/login">Sign in</a>
                <a class="btn btn-outline-light ml-2" href="/signup">Sign up</a>
            <% } %>
        </div>
    </div>
</nav>
