<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <link href="/css/hover.css" rel="stylesheet">

    <script defer src="/fontawesome/js/all.js"></script>

    <title>Main</title>
</head>

<body>
<% if (typeof session.message != "undefined" && session.message) { %>
    <script>
        alert("<%= session.message %>");
    </script>
    <% session.message = null; %>
<% } %>

<nav class="navbar navbar-expand-md navbar-dark fixed-top p-3" style="background-color: rgb(36,41,46);">
    <div class="container" style="max-width: 100%;">
        <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#mainMenu" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">

            <ul class="navbar-nav mr-5 text-capitalize">
                <li class="nav-item active">
                    <a class="navbar-brand font-weight-bold" href="/">Animals-Online</a>
                </li>
            </ul>
            <form method="GET" action="/search" class="form-inline mr-auto my-lg-0">
                <div class="input-group">
                    <input style="width: 200px;" aria-label="Search" class="form-control" id="search"
                           placeholder="Search" name="keyword" type="text">
                    <div class="input-group-append">
                        <button class="btn btn-secondary my-sm-0" type="submit">검색</button>
                    </div>
                </div>
            </form>

            <% if (typeof session.user !== "undefined" &&  session.user) { %>
                <span style="color: white; margin-right: 10px;">
                    <%= session.user.nickname %>
                    (point : <%= session.user.point %>)
                </span>

                <% if (session.user.my_page_id) { %>
                    <a class="btn btn-sm btn-outline-light ml-2" href="/page/<%= session.user.my_page_id %>">My Animal</a>
                    <a class="btn btn-sm btn-outline-light ml-2" href="/page/post/<%= session.user.my_page_id %>">Write Diary</a>
                <% } else { %>
                    <a class="btn btn-sm btn-outline-light ml-2" href="/create-page">Create Home</a>
                <% } %>
                <a class="btn btn-sm btn-outline-light ml-2" href="/logout?next=/">Log out</a>
                <a class="btn btn-sm btn-outline-light ml-2" href="/point">Buy Point</a>
            <% } else { %>
                <a class="btn btn-outline-light ml-2 mr-md-2" href="/login">Sign in</a>
                <a class="btn btn-outline-light ml-2" href="/signup">Sign up</a>
            <% } %>
        </div>
    </div>
</nav>

<nav id="sidebar">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title ml-4">
                    <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size: 18px;"><i class="fas fa-list fa-fw mr-2"></i>Categories</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-borderless">
                        <% for (let category of categories) { %>
                            <tr>
                                <td class="text-center">
                                    <a href="#" style="font-size: 16px;"><i class="fas fa-paw fa-fw" style="margin-right: 5px;"></i><%= category.name %></a>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>

        <hr>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="panel-title ml-4">
                    <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="font-size: 18px;"><i class="fas fa-star fa-fw mr-2"></i>Subscribed List</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <ul class="list-unstyled components">
                    <% if (typeof user !== "undefined" && my_subscribe_pages.length > 0) { %>
                        <% for (let page of my_subscribe_pages) { %>
                            <li class="active" style="padding-top : 15px">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"
                                            OnClick="location.href ='/page/<%= page.id %>'" style="cursor:pointer;">
                                            <div class="mr-2">
                                                <% if (page.profile_picture === null) { %>
                                                    <img alt="" class="rounded-circle" src="/media/no-image.jpg" width="50" height="50">
                                                <% } else { %>
                                                    <img alt="" class="rounded-circle" src="<%= page.profile_picture %>" width="50" height="50">
                                                <% } %>
                                            </div>
                                            <div class="ml-2">
                                                <div class="m-0" style="color: rgb(10,10,10); font-size: 14px;"><%= page.animal_name %></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="dropdown">
                                                <button aria-expanded="false" aria-haspopup="true"
                                                        class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                                        name="dropdownButton" type="button">
                                                </button>
                                                <div aria-labelledby="gedf-drop1" class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/page/unsubscribe/<%= page.id %>?next=/">Unsubscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    <% } else if (typeof user === "undefined") { %>
                        <li class="active" style="padding-top : 15px">
                            <div class="card-header text-center">
                                You are not logged in.
                            </div>
                        </li>
                    <% } else { %>
                        <li class="active" style="padding-top : 15px">
                            <div class="card-header text-center">
                                List is empty.
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container main-container">
    <div style="margin-top: 30px;">
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="/media/dogs.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="/media/cats.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="/media/syslab.png" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- Page Heading -->
    <h2 class="mt-5 mb-3"><i class="fab fa-hotjar fa-fw mr-2"></i>Popular animals</h2>

    <div class="row">
        <% for (let page of pagesBySubscribe) { %>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <div class="hovereffect">
                        <% if (page.profile_picture === null) { %>
                            <img alt="" class="card-img-top" src="/media/no-image.jpg" width="700" height="200">
                        <% } else { %>
                            <img alt="" class="card-img-top" src="<%= page.profile_picture %>" width="700" height="200">
                        <% } %>
                        <div class="overlay">
                            <h2><%= page.animal_name %> (<%= page.category %>)</h2>
                            <a class="info" href="/page/<%= page.id %>">GO HOME</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/page/<%= page.id %>"><%= page.animal_name %></a>
                        </h4>
                        <p class="card-text"><%= page.description %></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <h2 class="mt-5 mb-3"><i class="fas fa-dog fa-fw mr-2"></i>Recently updated</h2>
    <div class="row">
        <% for (let page of pagesByNewPost) { %>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <div class="hovereffect">
                        <% if (page.profile_picture === null) { %>
                            <img alt="" class="card-img-top" src="/media/no-image.jpg" width="700" height="200">
                        <% } else { %>
                            <img alt="" class="card-img-top" src="<%= page.profile_picture %>" width="700" height="200">
                        <% } %>
                        <div class="overlay">
                            <h2><%= page.animal_name %> (<%= page.category %>)</h2>
                            <a class="info" href="/page/<%= page.id %>">GO HOME</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/page/<%= page.id %>"><%= page.animal_name %></a>
                        </h4>
                        <p class="card-text"><%= page.description %></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
