<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
  <title>Page <%= id %></title>
</head>
<body>
  <a href="/">index</a>
  <h1>Page <%= id %></h1>

  login :
  <% if (session.user) { %>
    <%= session.user.nickname %> (<%= session.user.email %>)
  <% } else { %>
    false
  <% } %>

  <br>

  admin : <%= isAdmin ? true : false %>

  <br><br>

  total donate from me : <%= total_donate_from_me || 0 %>
  <br>
  my donate class level : <%= my_class_level || 0 %>
  <br>
  am i subscriber : <%= subscribe %>

  <br>

  <ul>
    <li>page id : <%= id %></li>
    <li>creator nickname : <%= nickname %></li>
    <li>animal name : <%= animal_name %></li>
    <li>category name : <%= category %></li>
    <li>description : <%= description %></li>
    <li>profile picture : <%= profile_picture || "null" %></li>
    <li>subscribe count : <%= subscribe_count %></li>
  </ul>

  <hr>

  <% for (let post of posts) { %>
    <table border="1" style="width: 1000px; margin: 30px 0;">
        <tr>
          <td>id : <%= post.id %></td>
          <td>title : <%= post.title %></td>
          <td>content : <%= post.content %></td>
          <td>created_time : <%= post.created_time %></td>
          <td>min_class_level : <%= post.min_class_level %></td>
          <td>
            tags :
            <% for (let tag of post.tags) { %>
              <%= tag.name %> |
            <% } %>
          </td>
        </tr>
        <tr><td colspan="6">Files</td></tr>
        <tr>
          <td colspan="6">
            <% for (let file of post.files) { %>
              <% if (file.url.indexOf("youtube.com") != -1 || file.url.indexOf("youtu.be") != -1) { %>
                  <div class="plyr__video-embed" id="player">
                    <iframe
                        src="<%= file.url %>"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                    ></iframe>
                  </div>
                </div>
              <% } else { %>
                <img src="<%= file.url %>" style="height: 200px;" />
              <% } %>
            <% } %>
          </td>
        </tr>
        <tr><td colspan="6">Comments</td></tr>
        <tr>
          <td colspan="6">
            <% for (let comment of post.comments) { %>
              <%= JSON.stringify(comment) %>
            <% } %>
          </td>
        </tr>
    </table>
  <% } %>

  <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
  <script>var player = new Plyr('#player');</script>
</body>
</html>
