<nav id="sidebar">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title ml-4">
                    <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size: 18px;"><i class="fas fa-list fa-fw mr-2"></i>Categories</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-borderless">
                        <% for (let category of categories) { %>
                            <tr>
                                <td class="text-center">
                                    <% if (category.name === "CAT") { %>
                                        <a href="/category/<%= category.id %>" style="font-size: 16px;"><i class="fas fa-cat fa-fw" style="margin-right: 5px;"></i><%= category.name %></a>
                                    <% } else if (category.name == "DOG") { %>
                                        <a href="/category/<%= category.id %>" style="font-size: 16px;"><i class="fas fa-dog fa-fw" style="margin-right: 5px;"></i><%= category.name %></a>
                                    <% } else if (category.name == "FISH") { %>
                                        <a href="/category/<%= category.id %>" style="font-size: 16px;"><i class="fas fa-fish fa-fw" style="margin-right: 5px;"></i><%= category.name %></a>
                                    <% } else if (category.name == "BIRD") { %>
                                        <a href="/category/<%= category.id %>" style="font-size: 16px;"><i class="fas fa-dove fa-fw" style="margin-right: 5px;"></i><%= category.name %></a>
                                    <% } else { %>
                                        <a href="/category/<%= category.id %>" style="font-size: 16px;"><i class="fas fa-paw fa-fw" style="margin-right: 5px;"></i><%= category.name %></a>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>

        <hr>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title ml-4">
                    <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-size: 18px;"><i class="fas fa-tags fa-fw mr-2"></i>Tags</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse mx-4">
                <% for (let tag of tags) { %>
                    <a class="badge badge-primary" href="/tag/<%= tag.id %>"><%= tag.name %></a>
                <% } %>
            </div>
        </div>

        <hr>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="panel-title ml-4">
                    <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="font-size: 18px;"><i class="fas fa-star fa-fw mr-2"></i>Subscribed List</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <ul class="list-unstyled components">
                    <% if (typeof user !== "undefined" && my_subscribe_pages.length > 0) { %>
                        <% for (let page of my_subscribe_pages) { %>
                            <li class="active" style="padding-top : 15px">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center"
                                            OnClick="location.href ='/page/<%= page.id %>'" style="cursor:pointer;">
                                            <div class="mr-2">
                                                <% if (page.profile_picture === null) { %>
                                                    <img alt="" class="rounded-circle" src="/media/no-image.jpg" width="50" height="50">
                                                <% } else { %>
                                                    <img alt="" class="rounded-circle" src="<%= page.profile_picture %>" width="50" height="50">
                                                <% } %>
                                            </div>
                                            <div class="ml-2">
                                                <div class="m-0" style="color: rgb(10,10,10); font-size: 14px;"><%= page.animal_name %></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="dropdown">
                                                <button aria-expanded="false" aria-haspopup="true"
                                                        class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                                        name="dropdownButton" type="button">
                                                </button>
                                                <div aria-labelledby="gedf-drop1" class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/page/unsubscribe/<%= page.id %>?next=/">Unsubscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    <% } else if (typeof user === "undefined") { %>
                        <li class="active" style="padding-top : 15px">
                            <div class="card-header text-center">
                                You are not logged in.
                            </div>
                        </li>
                    <% } else { %>
                        <li class="active" style="padding-top : 15px">
                            <div class="card-header text-center">
                                List is empty.
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>
