<% if (donate_classes.length > 0) { %>
    <h2>도네이션 등급</h2>
    <% let rewards = []; %>
    <% for (let cls of donate_classes) { %>
        <% rewards.push(cls.reward_description); %>
        <h3>Lv<%= cls.class_level %>. <%= cls.class_name %> (후원금액 <%= commaNumber(cls.cost) %>원 이상)</h3>
        <ul>
            <li><%= cls.class_level %>레벨 게시물 공개</li>
            <% for (let reward of rewards) { %>
                <li><%= reward %></li>
            <% } %>
        </ul>
    <% } %>
<% } else { %>
    <h2>Donate Classes</h2>
    그런 거 없다.
<% } %>