<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <link href="/css/hover.css" rel="stylesheet">
    <link href="/css/category.css" rel="stylesheet">

    <script defer src="/fontawesome/js/all.js"></script>

    <title>Search Results</title>
</head>

<body>
<% include ./header %>
<% include ./sidebar %>

<!-- Page Content -->
<div class="container main-container">
    <h2 class="mt-5 mb-3"><i class="fas fa-paw fa-fw mr-2"></i>Animal search results of &quot;<%= keyword %>&quot; (<%= pagesSearchedByName.length %> Results)</h2>

    <!-- only one row exists.-->
    <div class="row">
        <% if (pagesSearchedByName.length < 1) { %>
            <span class="mt-3" style="margin-left: 65px; font-size: 18px;">There are no animals &nbsp;:(</span>
        <% } %>
        <% for (let page of pagesSearchedByName) { %>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <div class="hovereffect">
                        <% if (page.profile_picture === null) { %>
                            <img alt="" class="card-img-top" src="/media/no-image.jpg" width="700" height="200">
                        <% } else { %>
                            <img alt="" class="card-img-top" src="<%= page.profile_picture %>" width="700" height="200">
                        <% } %>
                        <div class="overlay">
                            <h2><%= page.animal_name %> (<%= page.category %>)</h2>
                            <a class="info" href="/page/<%= page.id %>">GO HOME</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/page/<%= page.id %>"><%= page.animal_name %></a>
                        </h4>
                        <p class="card-text"><%= page.description %></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
